/* Style for paragraph tags */
body{
  margin: auto;
  width: 640px; 
  padding: 50px; 
  color: rgb(0, 0, 0);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,45,0.8795167725293243) 25%, rgba(0,212,255,1) 100%);
  
}
p {
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 20px;
  color: whitesmoke;
}

/* Style for unordered list tags */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 5px 10px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  opacity:  0.7;
}

ul li:last-child {
  border-bottom: none;
}